encounters/
face_recog/
new_face_dir/
train_images/
pretrained models/
.vscode/
.git/
__pycache__/
todo.txt
known_faces.txt
config.json
model.log
dlib/
ANPR - Tutorial.ipynb
car_model_test.py 
car_model.py
current_frame.jpg
database_test.py
Dockerfile
hog_v1.py
hog_v2.py
hog_v3.py
pavan.jpg
plate.jpg
processed.jpg
requirements.txt
.dockerignore
database_test.py
nn4.small2.v1.h5
siamese.py 
vishal_pavan.jpg