anyio==3.7.1
asttokens==2.0.5
backcall==0.2.0
brotlipy==0.7.0
bzip2==1.0.8
ca-certificates==2023.7.22
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.6
colorama==0.4.6
cryptography==41.0.2
cuda==12.2.1
cuda-cccl==12.2.128
cuda-command-line-tools==12.2.1
cuda-compiler==12.2.1
cuda-cudart==12.2.128
cuda-cudart-dev==12.2.128
cuda-cuobjdump==12.2.128
cuda-cupti==12.2.131
cuda-cuxxfilt==12.2.128
cuda-demo-suite==12.2.128
cuda-documentation==12.2.128
cuda-libraries==12.2.1
cuda-libraries-dev==12.2.1
cuda-nsight-compute==12.2.1
cuda-nvcc==12.2.128
cuda-nvdisasm==12.2.128
cuda-nvml-dev==12.2.128
cuda-nvprof==12.2.131
cuda-nvprune==12.2.128
cuda-nvrtc==12.2.128
cuda-nvrtc-dev==12.2.128
cuda-nvtx==12.2.128
cuda-nvvp==12.2.131
cuda-opencl==12.2.128
cuda-opencl-dev==12.2.128
cuda-profiler-api==12.2.128
cuda-runtime==12.2.1
cuda-sanitizer-api==12.2.128
cuda-toolkit==12.2.1
cuda-tools==12.2.1
cuda-visual-tools==12.2.1
cudatoolkit==11.8.0
cudnn==8.9.2.26
cx_oracle==8.3.0
decorator==5.1.1
dlib==19.24.99
eigen==3.3.7
exceptiongroup==1.1.3
executing==0.8.3
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.101.1
ffmpeg==4.2.2
freetype==2.12.1
giflib==5.2.1
glib==2.69.1
gst-plugins-base==1.18.5
gstreamer==1.18.5
h11==0.12.0
hdf5==1.12.1
icc_rt==2022.1.0
icu==58.2
idna==3.4
intel-openmp==2023.1.0
ipython==8.12.2
jedi==0.18.1
jpeg==9e
krb5==1.19.4
lerc==3.0
libclang==14.0.6
libclang13==14.0.6
libcublas==12.2.4.5
libcublas-dev==12.2.4.5
libcufft==11.0.8.91
libcufft-dev==11.0.8.91
libcurand==10.3.3.129
libcurand-dev==10.3.3.129
libcusolver==11.5.1.129
libcusolver-dev==11.5.1.129
libcusparse==12.1.2.129
libcusparse-dev==12.1.2.129
libdeflate==1.17
libffi==3.4.4
libiconv==1.16
libnpp==12.2.0.5
libnpp-dev==12.2.0.5
libnvjitlink==12.2.128
libnvjitlink-dev==12.2.128
libnvjpeg==12.2.1.2
libnvjpeg-dev==12.2.1.2
libogg==1.3.5
libpng==1.6.39
libprotobuf==3.20.3
libtiff==4.5.0
libuv==1.44.2
libvorbis==1.3.7
libwebp==1.2.4
libwebp-base==1.2.4
libxml2==2.10.3
libxslt==1.1.37
lz4-c==1.9.4
matplotlib-inline==0.1.6
mkl==2023.1.0
mkl-service==2.4.0
mkl_fft==1.3.6
mkl_random==1.2.2
nsight-compute==2023.2.1.3
numpy==1.24.3
numpy-base==1.24.3
opencv==4.8.0
openssl==1.1.1v
parso==0.8.3
pcre==8.45
pickleshare==0.7.5
pillow==10.0.0
pip==23.2.1
prompt-toolkit==3.0.36
pure_eval==0.2.2
pycparser==2.21
pydantic==1.10.8
pygments==2.15.1
pyopenssl==23.2.0
pysocks==1.7.1
python==3.8.17
qt-main==5.15.2
qt-webengine==5.15.9
qtwebkit==5.212
requests==2.31.0
setuptools==68.0.0
six==1.16.0
sniffio==1.3.0
sqlite==3.41.2
stack_data==0.2.0
starlette==0.27.0
tbb==2021.8.0
traitlets==5.7.1
typing-extensions==4.7.1
typing_extensions==4.7.1
urllib3==1.26.16
uvicorn==0.20.0
vc==14.2
vs2015_runtime==14.27.29016
wcwidth==0.2.5
wheel==0.38.4
win_inet_pton==1.1.0
xz==5.4.2
zlib==1.2.13
zstd==1.5.5
